/* Order es para cambiar el orden de los flex items, solo lo hace visualmente, el que tenga el número menor, va primero, se puede dar números negativos */
.flex-item:last-child{
    background-color: #000;
    order: 2;
}

.flex-item{
    background-color: #800;
    order: 3;
}

.flex-item:first-child{
    background-color: #f77;
    order: 1;
}