body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

.box{
    width: 120px;
    height: 120px;
    background-color: #f00;
    margin-top: 50px;
    transition-property:  left;
    transition-duration: 1s;
    /* Cambia la velocidad del principio, mitad y final del movimiento de la caja */
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s; */
    color: red;
    position: relative;
    left: 0;
}

body:hover .box{
    background-color: blue;
    left: 400px;
}