div{
    background: red;/*Si no se le da un ancho y alto, no se muestra el color de fondo*/
    width: 300px;/*Ancho*/
    height: 100px;/*Alto de la caja*/
}

h1{
    background: blue;
}

input{
    width: 100%;/*El ancho será del 100% del elemento que lo contiene, el input submit no está igual que los otros dos porque tiene una propiedad que se llama border-box*/
}

form{
    width: 300px;
}