body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.card{
    background-color: coral;
    text-align: center;
    width: 300px;
    margin: auto;/*Para centar horizontalmente*/
    margin-top: 50px;
    padding: 20px;
}

.card_title{

    font-size: 22px;
    margin: 0;
}

.card_subtitle{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}

.card_content{
    font-size: 9px;
    padding: 20px;
    text-align: justify;
}

.card_img{
    width: 200px;
    border-radius: 50%;
}